@model IEnumerable<HandsOnMVCUsingEFCodeFirst_Demo2.Models.EmployeeProject>

@{
    ViewData["Title"] = "Index";
}

<h1>GetAll</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrjoectName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrjoectName)
                </td>
                
            </tr>
        }
    </tbody>
</table>
